
div.page-head {
   width: 90vw;
   height: 8vh;
   line-height: 8vh;
   margin: 2vh auto;
   border: 2px solid #636269;
   border-radius: 2vh;
   /* background logo */
   background-image: url(/static/imgs/speakerbox6.png);
   background-size: contain;
   background-position: left center;
   background-repeat: no-repeat;
}

div.page-body {
   width: 90vw;
   height: auto;
   margin: 2vh auto;
   border: 2px solid #636269;
   border-radius: 2vh;
   padding-bottom: 2vh;
}

.page-body-top {
   width: 98%;
   height: 14vh;
   line-height: 14vh;
   margin: 2vh auto 0 auto;
   border: 1px solid #dcdcdc;
   border-radius: 2vh;
}

div.order-call-entry {
   text-align: right;
}

div.sound-card-controls {
   margin-top: 6vh;
}

div.sc-tabs {
   text-align: center;
}

div.sc-tab {
   display: inline-block;
   width: 12.8vw;
   height: auto;
   margin: auto 8px;
   font-size: 2.4vh;
   border: 1px solid #525263;
   border-radius: 8px;
   vertical-align: top;
}

div.sc-tab:hover {
   cursor: pointer;
   background-color: #e9edf7;
}

div.sc-tab :nth-child(1) {
   height: 4vh;
   line-height: 4vh;
}

div.sc-tab :nth-child(2) {
   height: 2vh;
   line-height: 2vh;
   font-size: 1.8vh;
   padding-bottom: 1vh;
}

.tab-bg-color {
   background-color: #dbe5f1fd;
}

.sound-card-details {
   width: 80%;
   margin: 4vh auto 1vh auto;
}

.sound-card-details div {
   height: 8vh;
   line-height: 8vh;
   font-size: 2vh;
   margin: 1vh 0;
   padding-right: 2vh;
   border: 1px solid #58595e;
   border-radius: 2vh;
   background-color: #f3f4f5;
}

.snd-card-state {
   text-align: center;
   min-height: 10vh !important;
   line-height: 2.5vh !important;
   font-size: 1.6vh !important;
   padding: 1vh;
}

