
#txtCallNumber {
   width: 10vh;
   font-size: 6.4vh;
   padding: 0.2vh;
   vertical-align: middle;
}

#btnCallNumber {
   width: 7.6vh;
   height: 7.6vh;
   margin-right: 1vw;
   vertical-align: middle;
}

#btnCallNumber:hover {
   cursor: pointer;
}

#btnCloseDetails {
   height: 4vh;
   margin-left: 2vw;
   vertical-align: middle;
}

#btnCloseDetails:hover {
   cursor: pointer;
}

.rng-pick {
   border: 1px dotted green;
}

.sc-controls {
   margin-left: 1vw;
   font-size: 2vh;
}

.input-box {
   display: inline-block;
   width: 16%;
}

.call-history {
   display: inline-block;
   height: 8vh;
   width: 82%;
   line-height: 8vh;
   vertical-align: middle;
}

.call-num-frame {
   display: inline-block;
   height: inherit!;
   margin: 0 4px;
   pad: 4px;
   border: 2px solid #435e88;
   border-radius: 1vh;
   background-color: #f2f5fa;
}

.call-num-box {
   height: 6vh;
   line-height: 6vh;
   font-size: 4.2vh;
   text-align: center;
   border-width: 0;
}

.call-num-dts {
   height: 2vh;
   line-height: 2vh;
   font-size: 1.6vh;
   padding: 4px;
   border-width: 0;
}

.busy {
   color: red;
}

.un-busy {
   color: green;
}

.snd-crd-status {
   width: 96%;
   height: 2.2vh;
   line-height: 2.2vh;
   font-size: 1.4vh;
   margin: 1px auto 4px auto;
   border: 1px solid #9d9da7;
   border-radius: 4px;
   background-color: whitesmoke !important;
}

